td {
	background-color: #2DDFB3; 
	height: 150px;
	width: 150px; 
	border-radius: 15px;
	border-style: dotted;
	border-width: 2px;
	border-color: white
}

td div.cards {
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	display: none;
	border-radius: 15px;
	background-position: center;
}

.A {
	background-image: url("001-animals-1.png");
}

.B {
	background-image: url("002-animals.png");
}

.C {
	background-image: url("003-animal.png");
}

.D {
	background-image: url("004-eggs.png");
}

.E {
	background-image: url("005-dove.png");
}

.F {
	background-image: url("006-dog.png");
}

.G {
	background-image: url("007-bird.png");
}

.H {
	background-image: url("008-fish.png");

}

.stars {
	width: 50px;
	height: 50px;
}