body {
	background-color: #0B4758;
}

p {
	color: white;
	text-align: center;
	font-family: 'Shadows Into Light', cursive;
	margin: 2px;
}

h1 {
	color: white;
	text-align: center;
	font-family: 'Shadows Into Light', cursive;
	font-size: 50px;
	margin: 5px;
}

#card-table {
	margin: auto;
}

td {
	background-color: #2DDFB3; 
	height: 150px;
	width: 150px; 
	border-radius: 15px;
	border-style: dotted;
	border-width: 2px;
	border-color: white
}

td div.cards {
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	display: none;
	border-radius: 15px;
	background-position: center;
}

.A {
	background-image: url("001-animals-1.png");
}

.B {
	background-image: url("002-animals.png");
}

.C {
	background-image: url("003-animal.png");
}

.D {
	background-image: url("004-eggs.png");
}

.E {
	background-image: url("005-dove.png");
}

.F {
	background-image: url("006-dog.png");
}

.G {
	background-image: url("007-bird.png");
}

.H {
	background-image: url("008-fish.png");
}

.stars {
	width: 35px;
	height: 35px;
	padding: 0px;
	margin: 0px;
}

#star-img {
	text-align: center;
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.modal-content {
	background-color: #F3C83C;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid white;
	width: 75%;
}

#reset {
	margin-top: 5px; 
}